/* Editor styles for VK Bogo Language Switcher */
.editor-styles-wrapper {
	.wp-block-bogo-language-switcher {
		margin:0 !important;
		padding:0 !important;
		min-height: auto !important;
		box-shadow: none;
		width:auto;
		.components-placeholder__label {
			display: none;
		}
		ul.bogo-language-switcher {
			margin-block-start: 0;
			margin-block-end: 0;
			padding-left:0;
			li {
				margin: 0;
			}
		}
	}
}
