/* Frontend styles for VK Bogo Language Switcher */
ul.bogo-language-switcher {
	gap: var(--vkbls-row-gap, 4px) var(--vkbls-column-gap, 5px);
	margin-block-start: 0;
	margin-block-end: 0;
	padding: 0;
	display: flex;
	font-size: 12px;
	li {
		line-height: 1;
	}
	li:where(:not(:has( a ))) {
		opacity: 0.6;
	}
}

/****************************
 *  方向
 ****************************/
 ul.bogo-language-switcher.switcher--vertical {
	flex-direction: column;
}
ul.bogo-language-switcher.switcher--horizontal {
	flex-direction: row;
}

/****************************
 *  現在の言語を非表示
 ****************************/
ul.bogo-language-switcher.switcher--current-hidden{
	li.current{
		display: none;
	}
}

/****************************
 *  テキストのみのスタイル
 ****************************/
ul.bogo-language-switcher.switcher--text{
	--vkbls-vertical-padding: 2px;
	--vkbls-btn-min-width: 80px;
	.bogoflags {
		display: none;
	}
	li {
		display: block;
		text-box: trim-both text;
		color: var(--wp--preset--color--text-normal);
		border: 1px solid var(--wp--preset--color--text-normal);
		a {
			text-decoration: none;
		}
		&:has( a ) {
			&:hover {
				background-color: var(--wp--preset--color--primary);
				.bogo-language-name a {
					color: #fff;
				}
			}
		}
		&:has( a ) a,
		&:where(:not(:has( a ))) .bogo-language-name {
			display: block;
			text-align: center;
			padding: var(--vkbls-vertical-padding, 2px) 10px;
			min-width: var(--vkbls-btn-min-width, 80px);
		}
	}
}

/****************************
 *  旗とテキストのスタイル
 ****************************/
 ul.bogo-language-switcher:where(:not(.switcher--text)){
	.bogoflags {
		margin: 0;
	}
 }